@import "tailwindcss";


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 30s linear infinite;
}

.animate-scroll2 {
    animation: scroll 60s linear infinite;
}

.animate-scroll2:hover {
    animation-play-state: paused;
    
}


/* src/index.css */

.scroll-container {
    scroll-snap-type: y mandatory;
    /* Habilita el snap vertical y lo hace obligatorio */
    overflow-y: scroll;
    height: 100vh;
    /* El contenedor debe ocupar toda la altura de la pantalla */
}

.scroll-section {
    scroll-snap-align: start;
    /* Cada sección se alineará con el inicio del contenedor */
}


body {
    background-color: #000000;
    /* O el color exacto de tu fondo, como #111827 si usas bg-gray-900 */
}